.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  border-radius: 20px;
  background-color: #161b22;
}

.input {
  margin: 10px;
}

.labelAlign {
  display: flex;
  align-items: center;
}

.image-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.image-button img {
  width: 100%;
  height: auto;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}